/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #D8D8D8;
    --clr-neutral-400: #A7B9C8;
    --clr-neutral-900: #000000;
    --clr-accent-100: #E880E8;
    --clr-accent-300: #FF52C1;
    --clr-accent-700: #684BB1;
    --gap-sm: 1.75em;
    --gap-lg: 4em;
}

/* ---------- RESET ----------*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, h1, p, button, ul, li, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.75;
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent-700);
}

/* ---------- TYPOGRAPHY ----------*/
h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5em;
}

p {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1rem;
    color: var(--clr-neutral-200);
}

/* ---------- LAYOUT ----------*/
.container {
    display: fixed;
    width: 80%;
    margin-inline: auto;
    margin-top: -18em;
}

* + *,
main * + *,
footer {
    margin-top: var(--gap-sm);
}

header,
.hero,
.register {
    margin-bottom: var(--gap-lg)
}

button {
    padding: .4em 20vw;
    border: none;
    border-radius: 1.25em;
    background-color: var(--clr-neutral-100);
    font-size: 1rem;
    color: var(--clr-accent-700);
    box-shadow: .25rem .25rem .75em #00000033;
}

button,
.icon {
    cursor: pointer;
    transition: all .75s ease-in-out;
}

button:focus,
button:hover {
    background-color: var(--clr-accent-100);
    color: var(--clr-neutral-100);
}

footer {
    margin-top: 0;
    margin-bottom: 2.25em;
}

.icon:hover,
.icon:focus {
    filter: invert(47%) sepia(68%) saturate(1857%) hue-rotate(293deg) brightness(100%) contrast(101%);
    box-shadow: .25rem .25rem .75em #00000033;
}

/* ---------- COMPONENTS ----------*/
footer ul {
    display: flex;
    justify-content: center;
    gap: .5em;
    list-style: none;
}

/* deco elements */
.hero {
    margin-inline: auto;
}

.deco {
    background-image: url("images/bg-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    width: 100%;
    padding-top: 100%;
    z-index: -1;
}

/* ---------- MEDIA QUERIES ----------*/
@media (min-width: 420px) {
    .container {
        margin-top: -20em;
    }
}

@media (min-width: 490px) {
    .container {
        margin-top: -25em;
    }
}

@media (min-width: 560px) {
    .container {
        margin-top: -27em;
    }
}

@media (min-width: 630px) {
    .container {
        margin-top: -30em;
    }
}

@media (min-width: 700px) {
    .container {
        width: 90%;
        margin-top: -37em;
    }
    main {
        display: flex;
        gap: var(--gap-sm);
        text-align: left;
    }
    .register {
        display: inline-block;
        width: 20vw;
    }
    footer ul {
        justify-content: flex-end;
    }
}