/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #D8D8D8;
    --clr-neutral-400: #A7B9C8;
    --clr-neutral-900: #000000;
    --clr-accent-100: #E880E8;
    --clr-accent-300: #FF52C1;
    --clr-accent-700: #684BB1;
    --gap-sm: 1.75em;
    --gap-lg: 3em;
}

/* ---------- RESET ----------*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, h1, p, button, ul, li, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html{
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.75;
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent-700);
}

/* ---------- TYPOGRAPHY ----------*/
h1 {
    font-size: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
    font-weight: 600;
    line-height: 1.5em;
}

p {
    font-family: 'Open Sans', sans-serif; 
    font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
    color: var(--clr-neutral-200);
}

/* ---------- LAYOUT ----------*/
.container {
    display: fixed;
    width: 80%;
    margin-inline: auto;
    margin-top: -18em;
}

header,
.hero,
.blurb,
.register {
    margin-bottom: var(--gap-lg)
}

header {
    position: fixed;
    top: 0;
}

header {
    top: 0;
    margin-top: 2em;
}

main {
    margin-top: 5em
}

button {
    padding: .4em 5em;
    border: none;
    border-radius: 1.25em;
    font-size: 1rem;
    box-shadow: .25rem .25rem .75em #00000033;
}

footer {
    margin-top: 0;
    margin-bottom: 3em;
}

/* ---------- COMPONENTS ----------*/
button,
.icon {
    cursor: pointer;
    transition: all .75s ease-in-out;
}

.register {
    background-color: var(--clr-neutral-100);
    color: var(--clr-accent-700);
}

.register:focus,
.register:hover {
    background-color: var(--clr-accent-100);
    color: var(--clr-neutral-100);
}

.register {
    margin-bottom: 4em;
}

footer ul {

    display: flex;
    justify-content: center;
    gap: .5em;
    list-style: none;
}

.icon:hover,
.icon:focus {
    filter: invert(47%) sepia(68%) saturate(1857%) hue-rotate(293deg) brightness(100%) contrast(101%);
    box-shadow: .25rem .25rem .75em #00000033;
}

/* deco images*/
.hero {
    margin-inline: auto;
}

.deco {
    background-image: url("images/bg-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    width: 100%;
    padding-top: 100%;
    z-index: -1;
}

/* ---------- MEDIA QUERIES ----------*/
@media (min-width: 1439px) {
    .deco {
        background-image: url("images/bg-desktop.svg");
        background-size: auto;
    }
    .container {
        margin-top: -72em;
    }
    main {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-lg);
        margin-top: -5em;
        padding: 0;
    }
    main img {
        flex: 40% 1 1;
    }
    .landing-page {
        flex: 35% 1 1;
        text-align: left;
    }
    .register {
        padding: .4em 4em;
    }
    footer ul {
        justify-content: flex-end;
    }
}