/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #D8D8D8;
    --clr-neutral-400: #A7B9C8;
    --clr-neutral-900: #000000;
    --clr-accent-100: #E880E8;
    --clr-accent-300: #FF52C1;
    --clr-accent-700: #684BB1;
    --gap-sm: 1.5em;
    --gap-lg: 3.5em;
}

/* ---------- RESET ----------*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, h1, p, button, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent-700);
}

/* ---------- TYPOGRAPHY ----------*/
h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    font-family: 'Open Sans', sans-serif; 
}

/* ---------- LAYOUT ----------*/
.container {
    width: 90%;
    margin-inline: auto;
}

header,
* + *,
main * + * {
    margin-top: var(--gap-sm);
}

header,
.hero {
    margin-bottom: var(--gap-lg)
}

.hero {
    height: 40vh;
    background-image: url("images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    padding: .5em 25vw;
    border: none;
    border-radius: 1.25em;
    background-color: var(--clr-neutral-100);
    color: var(--clr-accent-700);
}





/* ---------- COMPONENTS ----------*/

footer ul {
    display: flex;
    justify-content: center;
    gap: .5em;
    list-style: none;
}


/* ---------- MEDIA QUERIES ----------*/